
@{
    ViewData["Title"] = "Footer";
}

<hr />
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
<style>
    .fin {
        background-color: #f8f2f2;
    }
    .fin {
        display : grid;
    }
    .fin>p {
        font-size: 16px;
        font-family: Arimo;
    }
</style>
<div class="fin">
    <p>Group 65:</p>
    <p>Algor Lombako</p>
    <p>101372552</p>
    <p>CRN 48622-202202</p>
</div>
<div class="fin">
    <p>Ibtisam Mohamed</p>
    <p>101064973</p>
    <p>CRN 48622-202202</p>
</div>

